#head-appli{
    margin-bottom: 2%;
}

#header-title{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#header-quote{
    text-align: center;
    font-style: italic;
}

#txt-accueil{
    margin-top: 2%;
    text-align: center;
}

.error{
    color: red;
}

#header-con-inscr{
    text-align: center;
}

header{
    margin-bottom: 2%;
}

#global{
    margin-right: 5%;
    margin-left: 5%;
}

#txt-connexion{
    margin-top: 2%;
}

.manage-user{
    margin-left: 1%;
    margin-bottom: 1%;
}

.manage-user-in{
    margin-left: 1%;
    margin-bottom: 5px;
}

#solde{
    margin-left: 1%;
}

#desc-vente{
    margin-left: 2%;
}

footer{
    position: relative;
    padding-top: 250px;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}


