#header-title{
    text-align: center;
    font-size: 3em;
}
#header-nav{
    text-align: center;
}
#header-quote{
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}


